# Project 5 - Machine Learning Model in Python

Artificial intelligence has been with us for a long time, but it has never developed at such a dizzying pace as today. Its models accompany us at every step. Starting with assistants in phones and online stores who recommend applications or products to complex language models such as ChatGPT or Bard. This application is extremely wide, and the popularization of these models is due to the growing computing power to which we have access. Thanks to this, almost each of us can build such a model on our computer at home!

In this project, I would like to use a popular set of tools in the most popular programming language, Python, in order not only to better understand the relationship between the data used in previous projects, but also to use them to build a model that will allow predicting the grades obtained by gymnastics competitors!

Tools used:

- Jupyter notebook

- Python 3.11.2

## STEP 1 - Prepare the environment in which we will work!

In [742]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

Ok, we have environments - now we need data!

In [743]:
df_junior_qualification = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/2nd_Junior_World_Championship_2023/Qualification.csv", sep=';', decimal=",")
df_junior_AA = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/2nd_Junior_World_Championship_2023/AA_Final.csv", sep=';', decimal=",")
df_junior_FX = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/2nd_Junior_World_Championship_2023/FX_Final.csv", sep=';', decimal=",")
df_junior_PH = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/2nd_Junior_World_Championship_2023/PH_Final.csv", sep=';', decimal=",")
df_junior_SR = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/2nd_Junior_World_Championship_2023/SR_Final.csv", sep=';', decimal=",")
df_junior_VT = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/2nd_Junior_World_Championship_2023/VT_Final.csv", sep=';', decimal=",")
df_junior_PB = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/2nd_Junior_World_Championship_2023/PB_Final.csv", sep=';', decimal=",")
df_junior_HB = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/2nd_Junior_World_Championship_2023/HB_Final.csv", sep=';', decimal=",")
df_senior_qualification = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/51_FIG_World_Championship_2022/Qualification.csv", sep=';', decimal=",")
df_senior_AA = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/51_FIG_World_Championship_2022/AA_Final.csv", sep=';', decimal=",")
df_senior_FX = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/51_FIG_World_Championship_2022/FX_Final.csv", sep=';', decimal=",")
df_senior_PH = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/51_FIG_World_Championship_2022/PH_Final.csv", sep=';', decimal=",")
df_senior_SR = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/51_FIG_World_Championship_2022/SR_Final.csv", sep=';', decimal=",")
df_senior_VT = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/51_FIG_World_Championship_2022/VT_Final.csv", sep=';', decimal=",")
df_senior_PB = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/51_FIG_World_Championship_2022/PB_Final.csv", sep=';', decimal=",")
df_senior_HB = pd.read_csv("E:/Gymnastics on GitHub!/Gymnastics-on-GitHub/Project 5 - ML model in Python/Data used in this project/51_FIG_World_Championship_2022/HB_Final.csv", sep=';', decimal=",")

As the data for Polish competitors is not complete due to the lack of a penalty column, I decided to use the results from international competitions for the purposes of this project.

## STEP 2 - Data wrangling

Okay, we have the data. Before we start working on them, let's take a look at what the tables, column names look like and whether the data has been loaded correctly.

In [744]:
# build dictionary with basic dataframe classifications

all_data_frames = {
    
    #category classificiation

        "junior" : [df_junior_qualification, df_junior_AA, df_junior_FX, df_junior_PH, df_junior_SR, df_junior_VT, df_junior_PB, df_junior_HB],

        "senior" : [df_senior_qualification, df_senior_AA, df_senior_FX, df_senior_PH, df_senior_SR, df_senior_VT, df_senior_PB, df_senior_HB],

    # apparatus classification

        "apparatus" : {
                "Floor Exercise" : [df_junior_FX, df_senior_FX],
                "Pommel Horse" : [df_junior_PH, df_senior_PH],
                "Still Rings" : [df_junior_SR, df_senior_SR],
                "Vault" : [df_junior_VT, df_senior_VT],
                "Parallel Bars" : [df_junior_PB, df_senior_PB],
                "Horizontal Bar" : [df_junior_HB, df_senior_HB]
                },

        "allaround" : [df_junior_qualification, df_junior_AA, 
                       df_senior_qualification, df_senior_AA],
}

# look on column names and data types

for key, value in all_data_frames.items():
    if key == "junior" or key == "senior":
        
        for df in value:
            
            print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rk              120 non-null    int64
 1   Name            120 non-null    object
 2   NOC             120 non-null    object
 3   FX_D_Score      118 non-null    float64
 4   FX_E_Score      120 non-null    float64
 5   FX_Total_Score  120 non-null    float64
 6   FX_Penalty      120 non-null    float64
 7   PH_D_Score      119 non-null    float64
 8   PH_E_Score      120 non-null    float64
 9   PH_Total_Score  120 non-null    float64
 10  PH_Penalty      120 non-null    float64
 11  SR_D_Score      120 non-null    float64
 12  SR_E_Score      120 non-null    float64
 13  SR_Total_Score  120 non-null    float64
 14  SR_Penalty      120 non-null    float64
 15  VT_D_Score      120 non-null    float64
 16  VT_E_Score      120 non-null    float64
 17  VT_Total_Score  120 non-null    float64
 18  VT_Penalty      120 non-null    float64
 19  PB_D_Score      120 non-null    float64
 20  PB_E_Score      120 non-null    float64
 21  PB_Total_Score  120 non-null    float64
 22  PB_Penalty      120 non-null    int64
 23  HB_D_Score      120 non-null    float64
 24  HB_E_Score      120 non-null    float64
 25  HB_Total_Score  120 non-null    float64
 26  HB_Penalty      120 non-null    float64
 27  AA_Score        120 non-null    float64
dtypes: float64(24), int64(2), object(2)
memory usage: 26.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rk              24 non-null     int64
 1   Name            24 non-null     object
 2   NOC             24 non-null     object
 3   FX_DScore       24 non-null     float64
 4   FX_Escore       24 non-null     float64
 5   FX_Total_Score  24 non-null     float64
 6   FX_Penalty      24 non-null     float64
 7   PH_DScore       24 non-null     float64
 8   PH_Escore       24 non-null     float64
 9   PH_Total_Score  24 non-null     float64
 10  PH_Penalty      24 non-null     int64
 11  SR_Dscore       24 non-null     float64
 12  SR_Escore       24 non-null     float64
 13  SR_Total_Score  24 non-null     float64
 14  SR_Penalty      24 non-null     int64
 15  VT_Dscore       24 non-null     float64
 16  VT_Escore       24 non-null     float64
 17  VT_Total_Score  24 non-null     float64
 18  VT_Penalty      24 non-null     float64
 19  PB_Dscore       24 non-null     float64
 20  PB_Escore       24 non-null     float64
 21  PB_Total_Score  24 non-null     float64
 22  PB_Penalty      24 non-null     int64
 23  HB_Dscore       24 non-null     float64
 24  HB_Escore       24 non-null     float64
 25  HB_Total_Score  24 non-null     float64
 26  HB_Penalty      24 non-null     int64
 27  AA_Total_Score  24 non-null     float64
dtypes: float64(21), int64(5), object(2)
memory usage: 5.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   NOC          8 non-null      object
 3   D
Score      8 non-null      float64
 4   E
Score      8 non-null      float64
 5   Penalty      8 non-null      float64
 6   Total Score  8 non-null      float64
dtypes: float64(4), int64(1), object(2)
memory usage: 580.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   NOC          8 non-null      object
 3   D
Score      8 non-null      float64
 4   E
Score      8 non-null      float64
 5   Penalty      8 non-null      int64
 6   Total Score  8 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 580.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   NOC          8 non-null      object
 3   D
Score      8 non-null      float64
 4   E
Score      8 non-null      float64
 5   Penalty      8 non-null      int64
 6   Total Score  8 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 580.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             8 non-null      int64
 1   Name             8 non-null      object
 2   NOC              8 non-null      object
 3   VT1_Dscore       8 non-null      float64
 4   VT1_Escore       8 non-null      float64
 5   VT1_Penalty      8 non-null      float64
 6   VT1_Total_Score  8 non-null      float64
 7   VT2_Dscore       8 non-null      float64
 8   VT2_Escore       8 non-null      float64
 9   VT2_Penalty      8 non-null      int64
 10  VT2_Total_Score  8 non-null      float64
 11  VT_Total_Score   8 non-null      float64
dtypes: float64(8), int64(2), object(2)
memory usage: 900.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   NOC          8 non-null      object
 3   D
Score      8 non-null      float64
 4   E
Score      8 non-null      float64
 5   Penalty      8 non-null      int64
 6   Total Score  8 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 580.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   NOC          8 non-null      object
 3   D
Score      8 non-null      float64
 4   E
Score      8 non-null      float64
 5   Penalty      8 non-null      int64
 6   Total Score  8 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 580.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rk              96 non-null     int64
 1   Name            96 non-null     object
 2   NOC             96 non-null     object
 3   FX_D_Score      92 non-null     float64
 4   FX_E_Score      93 non-null     float64
 5   FX_Total_Score  96 non-null     float64
 6   FX_Penalty      93 non-null     float64
 7   PH_D_Score      94 non-null     float64
 8   PH_E_Score      96 non-null     float64
 9   PH_Total_Score  96 non-null     float64
 10  PH_Penalty      96 non-null     float64
 11  SR_D_Score      96 non-null     float64
 12  SR_E_Score      96 non-null     float64
 13  SR_Total_Score  88 non-null     float64
 14  SR_Penalty      96 non-null     int64
 15  VT_D_Score      94 non-null     float64
 16  VT_E_Score      96 non-null     float64
 17  VT_Total_Score  96 non-null     float64
 18  VT_Penalty      96 non-null     float64
 19  PB_D_Score      96 non-null     float64
 20  PB_E_Score      96 non-null     float64
 21  PB_Total_Score  93 non-null     float64
 22  PB_Penalty      96 non-null     int64
 23  HB_D_Score      96 non-null     float64
 24  HB_E_Score      96 non-null     float64
 25  HB_Total_Score  92 non-null     float64
 26  HB_Penalty      96 non-null     int64
 27  AA_Score        96 non-null     float64
dtypes: float64(22), int64(4), object(2)
memory usage: 21.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rk              24 non-null     int64
 1   Name            24 non-null     object
 2   NOC             24 non-null     object
 3   FX_D_Score      24 non-null     float64
 4   FX_E_Score      24 non-null     float64
 5   FX_Total_Score  24 non-null     float64
 6   FX_Penalty      24 non-null     float64
 7   PH_D_Score      24 non-null     float64
 8   PH_E_Score      24 non-null     float64
 9   PH_Total_Score  24 non-null     float64
 10  PH_Penalty      24 non-null     int64
 11  SR_D_Score      24 non-null     float64
 12  SR_E_Score      24 non-null     float64
 13  SR_Total_Score  24 non-null     float64
 14  SR_Penalty      24 non-null     int64
 15  VT_D_Score      24 non-null     float64
 16  VT_E_Score      24 non-null     float64
 17  VT_Total_Score  24 non-null     float64
 18  VT_Penalty      24 non-null     float64
 19  PB_D_Score      24 non-null     float64
 20  PB_E_Score      24 non-null     float64
 21  PB_Total_Score  24 non-null     float64
 22  PB_Penalty      24 non-null     int64
 23  HB_D_Score      24 non-null     float64
 24  HB_E_Score      24 non-null     float64
 25  HB_Total_Score  24 non-null     float64
 26  HB_Penalty      24 non-null     float64
 27  AA_Score        24 non-null     float64
dtypes: float64(22), int64(4), object(2)
memory usage: 5.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   NOC          8 non-null      object
 3   D_Score      8 non-null      float64
 4   E_Score      8 non-null      float64
 5   Penalty      8 non-null      float64
 6   Total_Score  8 non-null      float64
dtypes: float64(4), int64(1), object(2)
memory usage: 580.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   NOC          8 non-null      object
 3   D_Score      8 non-null      float64
 4   E_Score      8 non-null      float64
 5   Penalty      8 non-null      int64
 6   Total_Score  8 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 580.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   NOC          8 non-null      object
 3   D_Score      8 non-null      float64
 4   E_Score      8 non-null      float64
 5   Penalty      8 non-null      int64
 6   Total_Score  8 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 580.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             8 non-null      int64
 1   Name             8 non-null      object
 2   NOC              8 non-null      object
 3   VT1_Dscore       8 non-null      float64
 4   VT1_Escore       8 non-null      float64
 5   VT1_Total_Score  8 non-null      float64
 6   VT1_Penalty      8 non-null      float64
 7   VT2_Dscore       8 non-null      float64
 8   VT2_Escore       8 non-null      float64
 9   VT2_Total_Score  8 non-null      float64
 10  VT2_Penalty      8 non-null      float64
 11  Total_Score      8 non-null      float64
dtypes: float64(9), int64(1), object(2)
memory usage: 900.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   NOC          8 non-null      object
 3   D_Score      8 non-null      float64
 4   E_Score      8 non-null      float64
 5   Penalty      8 non-null      int64
 6   Total_Score  8 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 580.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   NOC          8 non-null      object
 3   D_Score      8 non-null      float64
 4   E_Score      8 non-null      float64
 5   Penalty      8 non-null      int64
 6   Total_Score  8 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 580.0+ bytes
None

When we look at the results, we can notice several important problems:

1. __Column names__ - these are not uniform.

2. __Table format__ - if we want to examine the relationships between individual assessments, differences in the table format will definitely not help us with this, so it should be sorted out.

3. __Number of tables__ - a large number of tables for such simple data unnecessarily complicates the work, so we will reduce them to one table.

4. __Null values__ - some tables have a null value 

Let's start with the simplest thing, i.e. appropriate data label.

In [745]:
# select the data frame

for key, value in all_data_frames.items():
    
    if key == "junior":
        for df in value:
            # add label to each data frame
            df['Category'] = 'junior'

    elif key == "senior":
        for df in value: 
            # add label to each data frame
            df['Category'] = 'senior'

Next, let's deal with column names

In [746]:
# List with correct columns names

col_names = ['Rank', 'Name', 'Country', 'DScore', 'EScore', 'Penalty', 'Total Score', 'Category']

# Select correct data frame from dictionary

for key, value in all_data_frames.items(): 
    if key == 'apparatus':
        for apparatus, frames in value.items():
            if apparatus != "Vault":

                i = 0
                for df in frames: 

                    # renaming columns names to correct form in selected data frame
                    df.columns = col_names

                    # change order of columns
                    df = df[['Rank', 'Name' , 'Country', 'Category', 'DScore', 'EScore', 'Total Score', 'Penalty']]

                    # look on results
                    print(df.info())
                    
                    #save result  to dictionary
                    frames[i] = df
                    i += 1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      float64
dtypes: float64(4), int64(1), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      float64
dtypes: float64(4), int64(1), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None

Ok, all the tables that only needed to be renamed are ready. Next, we will deal with those whose form needs to be modified. First Vault result.

In [747]:
# Changing the order of columns in the df_junior_VT data frame

all_data_frames['apparatus']['Vault'][0] = all_data_frames['apparatus']['Vault'][0][['Rank','Name','NOC', 
                                              'VT1_Dscore', 'VT1_Escore', 'VT1_Total_Score', 'VT1_Penalty', 
                                              'VT2_Dscore', 'VT2_Escore', 'VT2_Total_Score', 'VT2_Penalty', 
                                              'VT_Total_Score', 'Category']]


# select correct data frame from dictionary
for key, value in all_data_frames.items():
    if key == 'apparatus':
        for apparatus, frames in value.items():
            i = 0  # declare local variable needed in operation
            if apparatus == "Vault":
                for df in frames:

                    # drop a column with data that we will not need later in the work. 
                    df.drop(columns=df.columns[-2], axis = 1, inplace = True)

                    # changing the name of the columns due to the wide_to_long function used later
                    df.columns = ['Rank', 'Name', 'Country', 'DScore_VT A', 'EScore_VT A', 'Total Score_VT A', 'Penalty_VT A', 'DScore_VT B', 'EScore_VT B', 'Total Score_VT B', 'Penalty_VT B', 'Category']

                    # changing the form of the table
                    df = pd.wide_to_long(
                        df,
                        ['DScore', 'EScore', 'Total Score', 'Penalty'],
                        i = ['Rank','Name','Category'],
                        j = 'Apparatus',
                        sep = "_",
                        suffix = '\D+').reset_index()
                    
                    # look on result
                    print(df.info())
                    
                    # add result to dictionary
                    frames[i] = df
                    i += 1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         16 non-null     int64
 1   Name         16 non-null     object
 2   Category     16 non-null     object
 3   Apparatus    16 non-null     object
 4   Country      16 non-null     object
 5   DScore       16 non-null     float64
 6   EScore       16 non-null     float64
 7   Total Score  16 non-null     float64
 8   Penalty      16 non-null     float64
dtypes: float64(4), int64(1), object(4)
memory usage: 1.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         16 non-null     int64
 1   Name         16 non-null     object
 2   Category     16 non-null     object
 3   Apparatus    16 non-null     object
 4   Country      16 non-null     object
 5   DScore       16 non-null     float64
 6   EScore       16 non-null     float64
 7   Total Score  16 non-null     float64
 8   Penalty      16 non-null     float64
dtypes: float64(4), int64(1), object(4)
memory usage: 1.3+ KB
None

Next all around results.

In [748]:
# select correct data frame from dictionary
for key, value in all_data_frames.items():
    i = 0 # declare local variable needed in operation
    if key == 'allaround':
        for df in value:

            # drop a column with data that we will not need later in the work. 
            df.drop(columns=df.columns[-2], axis = 1, inplace = True)

            # changing the name of the columns due to the wide_to_long function
            df.columns = ['Rank', 'Name', 'Country', 
                'DScore_FX', 'EScore_FX', 'Total Score_FX', 'Penalty_FX', 
                'DScore_PH', 'EScore_PH', 'Total Score_PH', 'Penalty_PH', 
                'DScore_SR', 'EScore_SR', 'Total Score_SR', 'Penalty_SR', 
                'DScore_VT', 'EScore_VT', 'Total Score_VT', 'Penalty_VT', 
                'DScore_PB', 'EScore_PB', 'Total Score_PB', 'Penalty_PB', 
                'DScore_HB', 'EScore_HB', 'Total Score_HB', 'Penalty_HB', 'Category']

            # changing the form of the table          
            df = pd.wide_to_long(
                df,
                ['DScore', 'EScore', 'Total Score', 'Penalty'],
                i = ['Rank', 'Name', 'Country', 'Category'],
                j = 'Apparatus',
                sep = "_",
                suffix = '\D+').reset_index()
            
            # look on results
            print(df.info())
            
            # add result to dictionary
            value[i] = df
            i += 1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         720 non-null    int64
 1   Name         720 non-null    object
 2   Country      720 non-null    object
 3   Category     720 non-null    object
 4   Apparatus    720 non-null    object
 5   DScore       717 non-null    float64
 6   EScore       720 non-null    float64
 7   Total Score  720 non-null    float64
 8   Penalty      720 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 50.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         144 non-null    int64
 1   Name         144 non-null    object
 2   Country      144 non-null    object
 3   Category     144 non-null    object
 4   Apparatus    144 non-null    object
 5   DScore       144 non-null    float64
 6   EScore       144 non-null    float64
 7   Total Score  144 non-null    float64
 8   Penalty      144 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 10.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         576 non-null    int64
 1   Name         576 non-null    object
 2   Country      576 non-null    object
 3   Category     576 non-null    object
 4   Apparatus    576 non-null    object
 5   DScore       568 non-null    float64
 6   EScore       573 non-null    float64
 7   Total Score  561 non-null    float64
 8   Penalty      573 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 40.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         144 non-null    int64
 1   Name         144 non-null    object
 2   Country      144 non-null    object
 3   Category     144 non-null    object
 4   Apparatus    144 non-null    object
 5   DScore       144 non-null    float64
 6   EScore       144 non-null    float64
 7   Total Score  144 non-null    float64
 8   Penalty      144 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 10.3+ KB
None

Ok, let's compare the results of our recent actions

In [749]:
# selecting the last tables we worked on
for key, value in all_data_frames.items():

    if key == 'allaround':
        for df in value:
            print(df.info())

    elif key == 'apparatus':
        for apparatus, frames in value.items():
            for df in frames:
                print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      float64
dtypes: float64(4), int64(1), object(3)
memory usage: 644.0+ bytes

None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      float64
dtypes: float64(4), int64(1), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         16 non-null     int64
 1   Name         16 non-null     object
 2   Category     16 non-null     object
 3   Apparatus    16 non-null     object
 4   Country      16 non-null     object
 5   DScore       16 non-null     float64
 6   EScore       16 non-null     float64
 7   Total Score  16 non-null     float64
 8   Penalty      16 non-null     float64
dtypes: float64(4), int64(1), object(4)
memory usage: 1.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         16 non-null     int64
 1   Name         16 non-null     object
 2   Category     16 non-null     object
 3   Apparatus    16 non-null     object
 4   Country      16 non-null     object
 5   DScore       16 non-null     float64
 6   EScore       16 non-null     float64
 7   Total Score  16 non-null     float64
 8   Penalty      16 non-null     float64
dtypes: float64(4), int64(1), object(4)
memory usage: 1.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         8 non-null      int64
 1   Name         8 non-null      object
 2   Country      8 non-null      object
 3   Category     8 non-null      object
 4   DScore       8 non-null      float64
 5   EScore       8 non-null      float64
 6   Total Score  8 non-null      float64
 7   Penalty      8 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 644.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         720 non-null    int64
 1   Name         720 non-null    object
 2   Country      720 non-null    object
 3   Category     720 non-null    object
 4   Apparatus    720 non-null    object
 5   DScore       717 non-null    float64
 6   EScore       720 non-null    float64
 7   Total Score  720 non-null    float64
 8   Penalty      720 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 50.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         144 non-null    int64
 1   Name         144 non-null    object
 2   Country      144 non-null    object
 3   Category     144 non-null    object
 4   Apparatus    144 non-null    object
 5   DScore       144 non-null    float64
 6   EScore       144 non-null    float64
 7   Total Score  144 non-null    float64
 8   Penalty      144 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 10.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         576 non-null    int64
 1   Name         576 non-null    object
 2   Country      576 non-null    object
 3   Category     576 non-null    object
 4   Apparatus    576 non-null    object
 5   DScore       568 non-null    float64
 6   EScore       573 non-null    float64
 7   Total Score  561 non-null    float64
 8   Penalty      573 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 40.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         144 non-null    int64
 1   Name         144 non-null    object
 2   Country      144 non-null    object
 3   Category     144 non-null    object
 4   Apparatus    144 non-null    object
 5   DScore       144 non-null    float64
 6   EScore       144 non-null    float64
 7   Total Score  144 non-null    float64
 8   Penalty      144 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 10.3+ KB
None

At this stage we can notice one more difference between the tables - some of them have a label marked as an apparatuts, and some do not - let's fix it.

In [750]:
# select dataframe
for key, value in all_data_frames.items(): 
    if key == 'apparatus':
        for apparatus, frames in value.items():
                
                # add column 'Apparatus' with label to specific dataframe
                if apparatus == 'Floor Exercise':
                     for df in frames:
                          df.insert(4, 'Apparatus', 'FX')
                
                elif apparatus == 'Pommel Horse':
                     for df in frames:
                          df.insert(4,'Apparatus','PH')
                
                elif apparatus == 'Still Rings':
                     for df in frames:
                          df.insert(4,'Apparatus','SR')

                elif apparatus == 'Vault':
                     for df in frames:
                          df[['Apparatus']] = 'VT'
                
                elif apparatus == 'Parallel Bars':
                     for df in frames:
                          df.insert(4,'Apparatus','PB')

                elif apparatus == 'Horizontal Bar':
                     for df in frames:
                          df.insert(4,'Apparatus','HB')

Towards the end of the data cleaning stage, all we had to do was combine all the tables into one.

In [751]:
# Make list where we can write all clear data frames
clear_df = []

# write data frames on our list
for key, value in all_data_frames.items():

    if key == 'allaround':
        for df in value:
            clear_df.append(df)

    elif key == 'apparatus':
        for apparatus, frames in value.items():
            for df in frames:
                clear_df.append(df)

# use this list to build one data frame              
training_df = pd.concat(clear_df)

# look null values
training_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1696 entries, 0 to 143
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         1696 non-null   int64
 1   Name         1696 non-null   object
 2   Country      1696 non-null   object
 3   Category     1696 non-null   object
 4   Apparatus    1696 non-null   object
 5   DScore       1685 non-null   float64
 6   EScore       1693 non-null   float64
 7   Total Score  1681 non-null   float64
 8   Penalty      1693 non-null   float64
dtypes: float64(4), int64(1), object(4)
memory usage: 132.5+ KB

The last step before we start analyzing the data will be to get rid of unnecessary columns and discard those rows containing empty values.
If a gymnasts did not compete on some apparatus, e.g. in the qualifications, we do not have his results, so we cannot complete this data.

In [752]:
# Find rows with null data
training_df[training_df.isnull().any(axis=1)]

,Rank,Name,Country,Category,Apparatus,DScore,EScore,Total Score,Penalty
702,118,CHIANG Yu-Li,TPE,junior,FX,NaN,0.0,0.0,0.0
714,120,GORMACK Oliver,NZL,junior,FX,NaN,0.0,0.0,0.0
715,120,GORMACK Oliver,NZL,junior,PH,NaN,0.0,0.0,0.0
518,87,ABDELRAHMAN Ahmed,EGY,senior,SR,0.0,0.0,NaN,0.0
524,88,FU-ALLEN William,NZL,senior,SR,0.0,0.0,NaN,0.0
527,88,FU-ALLEN William,NZL,senior,HB,0.0,0.0,NaN,0.0
532,89,LIN Guan-Yi,TPE,senior,PB,0.0,0.0,NaN,0.0
533,89,LIN Guan-Yi,TPE,senior,HB,0.0,0.0,NaN,0.0
534,90,Mc ATEER Ewan,IRL,senior,FX,NaN,0.0,0.0,0.0
535,90,Mc ATEER Ewan,IRL,senior,PH,NaN,0.0,0.0,0.0
536,90,Mc ATEER Ewan,IRL,senior,SR,0.0,0.0,NaN,0.0
538,90,Mc ATEER Ewan,IRL,senior,PB,0.0,0.0,NaN,0.0
539,90,Mc ATEER Ewan,IRL,senior,HB,0.0,0.0,NaN,0.0
540,91,METIDJI Hillal,ALG,senior,FX,NaN,NaN,0.0,NaN
542,91,METIDJI Hillal,ALG,senior,SR,0.0,0.0,NaN,0.0
543,91,METIDJI Hillal,ALG,senior,VT,NaN,0.0,0.0,0.0
545,91,METIDJI Hillal,ALG,senior,HB,0.0,0.0,NaN,0.0
548,92,MIR Nicolau,ESP,senior,SR,0.0,0.0,NaN,0.0
552,93,NUNEZ Isaac,MEX,senior,FX,NaN,NaN,0.0,NaN
553,93,NUNEZ Isaac,MEX,senior,PH,NaN,0.0,0.0,0.0
554,93,NUNEZ Isaac,MEX,senior,SR,0.0,0.0,NaN,0.0
560,94,SUN Wei,CHN,senior,SR,0.0,0.0,NaN,0.0
562,94,SUN Wei,CHN,senior,PB,0.0,0.0,NaN,0.0
566,95,YEH Cheng,TPE,senior,SR,0.0,0.0,NaN,0.0
570,96,YOU Hao,CHN,senior,FX,NaN,NaN,0.0,NaN
573,96,YOU Hao,CHN,senior,VT,NaN,0.0,0.0,0.0

In [753]:
# drop all rows with null data
training_df.dropna(subset=['DScore','EScore','Total Score'], inplace = True)

# drop columns with unecessary data
training_df.drop(columns=['Rank','Name'], inplace = True)

# look on final form our dataframe
training_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1670 entries, 0 to 143
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      1670 non-null   object
 1   Category     1670 non-null   object
 2   Apparatus    1670 non-null   object
 3   DScore       1670 non-null   float64
 4   EScore       1670 non-null   float64
 5   Total Score  1670 non-null   float64
 6   Penalty      1670 non-null   float64
dtypes: float64(4), object(3)
memory usage: 104.4+ KB

Thanks to all these operations, we have data ready to take a closer look at them and find relationships that will allow us to build our model!

> A few words of commentary on the data we got rid of during the entire process:
>
> __VT_Total_Score__ - a column containing the average of two jumps, for the purposes of this project we will not need the final score, we will rely on individual vault.
>
>__AA_Score__ - sum of all scores in all around - as in the case of values earlier - in this project I will not focus on the sum of the results, but I will take into account individual components.
>
> __Rank__ - because competitors in the qualifications are classified based on the final mark, and not individual marks, in the case of those who did not compete on all devices, this number could completely distort our analysis, which is why I decided to drop this column
>
> __Name__ - for the purposes of examining relationships and creating a model, we will not need this data.

## STEP 3 - Analysis

In [697]:
training_df[['DScore', 'EScore', 'Total Score', 'Penalty']].corr()

               DScore    EScore  Total Score   Penalty
DScore       1.000000  0.213027     0.765444  0.199421
EScore       0.213027  1.000000     0.767980  0.040727
Total Score  0.765444  0.767980     1.000000  0.323430
Penalty      0.199421  0.040727     0.323430  1.000000